body {
    background: rgb(61, 161, 243);
    background: -webkit-linear-gradient(right, rgb(61, 161, 243), #8DC26F);
    background: -moz-linear-gradient(right, rgb(61, 161, 243), #8DC26F);
    background: -o-linear-gradient(right, rgb(61, 161, 243), #8DC26F);
    background: linear-gradient(to left, rgb(61, 161, 243), #8DC26F);
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .form {
    position: relative;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 3.5%;
  }
  .page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form input {
    background: #f2f2f2;
    width: 100%;
    font-size: 14px;
  }
  .form button {
    text-transform: uppercase;
    outline: 0;
    background: rgb(46, 155, 243);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  .form button:hover,.form button:active,.form button:focus {
    background: #2196F3;
  }


  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  


  .progress {
    position: relative;
    top:5px;
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #ccc;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
  }
  
  .progress::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  .switchLeft {
    position: absolute;      
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
 .wrapper{
   display:flex;
 }
 .leftElement{
  float: left;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10%;
  margin-right: 7.5px;
  padding: 20px;    
  text-align:center;
 }
.rightElement{
  float: right;
  width: 300px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10%;
  margin-left: 7.5px;
  padding: 20px;  
  text-align:center;
}
.select{
  float:center;
  border-radius: 5px;
  width: 75%;
  height: 32px;
  position: relative;
}
.option{
  width: 75%;
  height: 32px;
  border-radius: 5px;
}
.back_button{
  width: 48px;
  height: 48px;
}
.back_button_image{
  width: 48px;
  height: 48px;
}
.text{
  position: relative;
  top: 5px;
  padding: 5px;
}
.alarm{
  position: relative;
  background: #FFFFFF;
  max-width: 360px;
  height: 80px;
  margin: 0;
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 3.5%;
}
/*
.alarm:hover{
  transform: scale(1.1);
}
Делает дополнительный акцент
Но кликать не удобно
(
*/
.alarmSelected{
  position: relative;
  background: #FFFFFF;
  
  max-width: 360px;
  height: 360px;
  margin: 0;
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 3.5%;
  transition: all .2s ease-in-out;
}
.alarmTime{
  position: absolute;
  font-size: 250%;
  left:20%;
}
.alarmDays{
  position: absolute;;
  left:20%;
  top: 70%;
}

.alarmEditButton{
  position: relative;
  top:35%;
}
.alarmEditButton:hover{
  transform: scale(1.1);
}

.alarmNewButton{
  position: relative;
  text-align: center;
}
.alarmNewButton:hover{
  transform: scale(1.1);
}

.alarmDeleteButton{
  position: relative;
  top:0px;
  text-align: center;  
}
.alarmDeleteButton:hover{
  transform: scale(1.05);
}

.alarmSaveButton{
  position: relative;
  top:120px;
  text-align: center;
}
.alarmSaveButton:hover{
  transform: scale(1.05);
}
.alarmToogleButton{
  position: absolute;
  top:35%;
  left:70%;
}
.timePicker{
  display:flex;
  align-items:center;
  margin:0 auto;
  width:150px;
  height: 30px;
  justify-content:space-evenly;
  border:1px solid #ccc;
  border-radius:10px;
  padding:25px;
}
.timePicker_Hour,.timePicker_Minute{
  border:1px solid #ccc;
  padding:4px 4px ;
  border-radius:4px;
  width:25px;
  text-align:center;
  font-size:15pt;
}
.timePicker_Col{
  display:flex;
  flex-direction:column;
  align-items: inherit;
}
.timePicker_Arrow{
  cursor:pointer;
  width:15px;
  height:15px;
}